.Slider {
	width: 400px;
	display: inline-block;
	height: 30px;
	background: #D0D0D0;
}

.Slider span[draggable=true] {
	width: 30px;
	height: 30px;
	background: #C0C0C0;
	display: block;
	top: -18px;
	z-index: 1;
}

.Slider span.point {
	width: 5px;
	display: inline-block;
	height: 30px;
	background-color: steelblue;
}
